/* General Styling */
:root {
    --background-color: #eaf3f7;
    --text-color: #fb8500;
    --left-section-color: #8cd2e9;
    --right-section-color: #2b5b6b;
    --hover-color: #2e4741;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: #12203d;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: #12203d;
}

/* Left Section Styling */
.left-section {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-right: 5px solid var(--hover-color);
}
.right-section {
    background-color: #e9ecec;
    color: black;
    padding: 20px;
    width: 45%;
    text-align: left;
    border-right: 5px solid var(--hover-color);
}
.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid rgb(18, 190, 139);
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(25, 25, 68);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--hover-color);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;

}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #06D6A0;
}
